<div class="container">
    <h1>{{tittle}}</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Direccion-Calle</th>
            <th>Telefono</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of userlist">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.address.street}}</td>
                <td>{{user.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>
